.__contentMain{
    display: flex; 
    flex-direction: column;
}

.__containerPix{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    padding: 30px;

}

.__titlePix{
    font-family: 'Inter', sans-serif;
    font-size: 1rem; 
    font-weight: 700;
    color: #1F2533;
    padding: 1rem;
}

.__confirmPayment{
    display: flex;
    align-items: center;
}

.__step_2_pix{
  display: flex;
  flex-direction: column;
}

.__buttonCopy_pix{
    display: flex;
    justify-content: center;
    padding: .6rem;
}

.__step_2_pix h1{
    padding-left: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: .8rem; 
    font-weight: 700;
    color: #1F2533;
}

.__step_pix{
    display: flex;
    align-items: center;
}


.__step_pix h1{
    padding-left: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: .8rem; 
    font-weight: 700;
    color: #1F2533;
}

.__randomKey h1{
   font-family: 'Inter', sans-serif;
   color: #718096;
   font-weight: 500;
   font-size: .8rem;
}

.__randomKey{
 padding: 0.2rem;
}

._randomKey{
    display: flex;
    align-items: center;
    background-color: #F1F3F6;
    width: 22rem; 
    height: .8rem;
    padding: 1rem;
}

._buttonCopy_pix{
background: #A75DA3;
box-shadow: 0px 4px 12px rgba(92, 92, 92, 0.5);
border-radius: 8px;
border: none;
color: white;
font-family: 'Poppins', sans-serif;
font-size: .7rem;
width: 5rem;
height: 2.5rem;
}

.infoPayment_pix{
    align-items: center;
    display: flex;
}

.infoPayment_pix h1{
 font-family: 'Poppins', sans-serif;
 font-weight: 700; 
 font-size: .8rem;
 color: black;
}

.infoPayment_pix h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: .8rem;
    color: black;
    padding-left: .6rem;
}

._buttonFinishPix{
    background-color: #1F2533;
    color: white;
    border: none;
    font-family: 'Inter', sans-serif; 
    font-weight: 500; 
    font-size: .8rem;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
}

.__iconPix{
    display: flex;
    justify-content: center;
}

.__buttonFinishPix{
    display: flex;
    justify-content: flex-end;
    padding-top: .8rem;
}