.__divisionOptions{
    background-color: #3D3D3D;  
    height: 100%;
 
}

a{
    text-decoration: none;
    cursor: pointer;
}

.__options{
    padding-bottom: 2rem;
}
.__nameUser{
    display: flex;
    justify-content: center;
    padding:1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color:white;
}

li { list-style-type: none; }

.__iconOption svg{
    width: 1.7rem;
    height: 1.7rem;
    color: white;
}

.__linkOption{
    display: flex;
}
.__optionTitle{
    display: flex;
    align-items: center;
}

.__option{
    display: flex;
}
.__option{
    padding-bottom: 1rem;
}
.__optionTitle{
    padding-left: 1rem;
}
.__optionTitle{
    color: #E2E8F0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: .8rem;
}

.__notify{
    padding-left: 3rem;
   }

.__arrowOption{
   padding-left: 1.8rem;
}






@media screen and (max-width: 600px){

    .__notify{
        padding:0px;
        position: relative;
        left: 1rem;
        top: 0.2rem;
     }

     .__arrowOption {
        padding-left: 0px;
        position: relative;
        left: 0.5rem;
        top: 0.2rem;
    }
    
    .__logo{
        display: flex;
        justify-content: center;
    }
    .__nameUser {
        justify-content: center;
    }

    .__option{
        justify-content: center;
        padding-left:0rem!important;
    }
}